@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  appearance: none;
}

.myButton {
  @apply bg-green-500 hover:bg-opacity-80 text-sm md:text-lg lg:text-lg rounded-md py-3 px-4 text-white;
}

.inputStyle{
  @apply bg-semiDarkColor text-sm bg-opacity-10 w-[100%] py-3 mt-1 border-2 outline-none border-white focus:border-darkColor focus:rounded-lg focus:outline-none px-2 transition-all;
}